<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <node name="pick_objects" type="pick_objects" pkg="pick_objects" output="screen">
    <rosparam>
      startGoalX: 4.0
      startGoalY: -4.0
      startGoalW: -1.0
      endGoalX: -5.0
      endGoalY: -3.0
      endGoalW: 1.0
      <!--xTarget1: -5.0
      yTarget1: -3.0
      wTarget1: -1.0
      wTarget2: 1.0-->
    </rosparam>
  </node>

</launch>
